@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black
}

@layer utilities {
	.mx-page {
		@apply mx-20 md:mx-40 lg:mx-80
	}
	.mt-page {
		@apply mt-10 md:mt-20 lg:mt-40
	}
	.w-page {
		@apply w-[calc(40px+100%)] ml-[-20px] md:ml-[-40px] lg:ml-[-80px] md:w-[calc(80px+100%)] lg:w-[calc(160px+100%)]
	}
}


.scrollbar-hover::-webkit-scrollbar {
	scrollbar-gutter: stable;
	height: 5px;
	width: 5px;
}

.scrollbar {
	scrollbar-gutter: stable;
}
.scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

:is(.scrollbar, .scrollbar-hover)::-webkit-scrollbar-thumb {
	@apply rounded-12 bg-primary/30 hover:bg-primary transition
}